*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

.hero{
    background-image: url(/images/hero_img.jpg);
    background-size: cover;
    padding-bottom: 7%;
    padding-top: 18%;
    color: white;
    text-align: center;
    /* height: 20%; */
    width: 100%;
   
}
.landing{
  margin-bottom: 5%;
}
.landing p{
  font-size: small;
  font-weight:400;
}

.landing>.second{
  animation:bounce 2s infinite;
}
@keyframes bounce {
  0%{
    transform: translateY(0);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
#about{
  text-align: center;
  margin-top: 40px;
}
#services{
  background-image:url(https://raw.githubusercontent.com/Mercywairimu01/Delani-studio/main/images/services_image.jpg) ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 18px;
  text-align: center;
  color: white;
  height: 100%;
  width: 100%;
 
}
.services{
margin-top: 40px;
padding: 110px 0px 50px 0px;
 
}