*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

.hero{
    background-image: url(/images/hero_img.jpg);
    background-size: cover;
    padding-bottom: 10%;
    background-position: center;
    padding-top: 20%;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
   
}
